#nodown-render {
  @import "./elements/margin.scss";
  @import "./elements/typography.scss";
  @import "./elements/code.scss";
  @import "./elements/color.scss";
  @import "./elements/blockquote.scss";
  @import "./elements/list.scss";
  @import "./elements/table.scss";
  @import "./elements/date.scss";
  @import "./elements/image.scss";
  @import "./elements/horizontal-rule.scss";
  @import "./elements/unicode.scss";
  @import "./elements/footnotes.scss";

  // padding: 2em;
  margin: 0;

  * {
    scrollbar-color: auto;
  }

  *[class^="nodown-"] {
    margin: 0;
    padding: 0;
  }
}
