ul.nodown-unordered-list,
ol.nodown-ordered-list {
  padding-left: 1em;

  li.nodown-list-element {
    margin: 0.75em;
  }
}

ul.nodown-unordered-list {
  list-style-type: disc;
}

ol.nodown-ordered-list {
  list-style-type: decimal;
}
