section.nodown-section {
  margin: 1.75em 0;

  &:first-child {
    margin-top: 0;

    > .nodown-div:first-child {
      > .nodown-sub-div:first-child {
        .nodown-title {
          margin-top: 0;
        }
      }
    }
  }

  > div.nodown-div {
    gap: 1em;
    width: 100%;

    > div.nodown-sub-div {
      > .nodown-title {
        margin-top: 1.25em;
      }

      > * {
        margin-bottom: 1em;
      }
    }
  }
}
