blockquote {
  border-left-style: solid;
  border-left-width: 0.2em;
  padding-left: 1em;
  margin: 0;
}

div {
  &.alert {
    border: 0.1em solid;
    border-radius: 0.25em;
    padding: 1em;
  }
}
