

code {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.8em;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

pre {
  border-radius: 0.25em;
  overflow-x: scroll;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1em;

  code {
    background-color: transparent;
    padding: 0;
  }

  &[class]:not([class=""]) code {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, SF Mono, Menlo,
      Consolas, Liberation Mono, monospace;
  }
}
