code {
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.8em;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  user-select: all;
  letter-spacing: 0;

  * {
    letter-spacing: 0;
    font-size:  inherit;
  }
}

pre {
  border-radius: 0.25em;
  padding: 1em;

  code {
    background-color: transparent;
    padding: 0;
  }

  &[class]:not([class=""]) code {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, SF Mono, Menlo,
      Consolas, Liberation Mono, monospace;
    user-select: auto;
  }
}
